<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>
    <footer class="main-footer">
      <div class="pull-right hidden-xs">
        <b>Version</b> 0.1.4
      </div>
      <strong>Copyleft &copy; 2017-2018 <a [routerLink]="['/inicio']">www.niñosconcancer.com.ve</a></strong> todos los derechos
      y zurdos reservados.
    </footer>
  </div>
</body>