.ninho-page {

  background-color: #d2d6de;  


  .breadcrumb>li+li:before {
    padding: 0 5px;
    color: #444;
    content: ">\A0";
  }

  img{
    width:100%; 
    height:auto; 
    cursor: zoom-in;
    margin-bottom: 2px;
  }

}

footer#main-footer.main-footer{
  margin-left: 0px;
}
