.ninho-page {

  background-color: #d2d6de;  

  img{
    width:100%; 
    height:auto; 
    cursor: zoom-in;
    margin-bottom: 2px;
  }

}

footer#main-footer.main-footer{
  margin-left: 0px;
}

.hide{
  
}
