<app-header-inicio></app-header-inicio>
<app-loading *ngIf="data.loading"></app-loading>
<div class="representante-page" [@routerTransition]>
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Perfil del Representante
    </h1>
    <ol class="breadcrumb">
      <li *ngFor="let route of data.bread_crumb">
        <a [routerLink]="[route.route]">
          <i class="fa fa-dashboard"></i> {{route.name}}</a>
      </li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <div class="row">
      <div class="col-md-3">

        <!-- Profile Image -->
        <div class="box box-primary">
          <div class="box-body box-profile">
            <img class="profile-user-img img-responsive img-circle" src="../../../assets/images/user_profile.png" alt="Imagen de usuario">

            <h3 class="profile-username text-center">{{data.representante_a.user.username}}</h3>

            <p class="text-muted text-center">{{data.representante_a.user.email}}</p>

            <ul class="list-group list-group-unbordered">
              <li class="list-group-item">
                <b>Nombre</b>
                <p class="pull-right">{{data.representante_a.nombre}}</p>
              </li>
              <li class="list-group-item">
                <b>Apellido</b>
                <p class="pull-right">{{data.representante_a.apellido}}</p>
              </li>
              <li class="list-group-item">
                <b>Cedula</b>
                <p class="pull-right">{{data.representante_a.cedula}}</p>
              </li>
            </ul>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->

        <!-- About Me Box -->
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Acerca de mi</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <strong>
              <i class="fa fa-book margin-r-5"></i> Numero de telefono 1</strong>

            <p class="text-muted">
              {{data.representante_a.numero_contacto_1}}
            </p>

            <hr>

            <strong>
              <i class="fa fa-map-marker margin-r-5"></i> Numero de telefono 2</strong>

            <p class="text-muted">
              {{data.representante_a.numero_contacto_2}}              
            </p>

            <hr>

            <strong>
              <i class="fa fa-file-text-o margin-r-5"></i> Dirección</strong>
            <h3>Municipio</h3>
            <p>{{data.representante_a.municipio.descripcion}}</p>
            <h3>Estado</h3>
            <p>{{data.representante_a.municipio.estado.descripcion}}</p>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <div class="col-md-7">
        <div class="row">
          <div class="col-md-6" *ngFor="let ninho of data.representante_a.ninhos">
            <!-- Widget: user widget style 1 -->
            <div class="box box-widget widget-user-2">
              <!-- Add the bg color to the header using any of the bg-* classes -->
              <div class="widget-user-header bg-yellow">
                <div class="widget-user-image">
                  <img class="img-circle" src="../../../../assets/images/niño.jpg" alt="Foto del niño">
                </div>
                <!-- /.widget-user-image -->
                <h3 class="widget-user-username">{{ninho.nombre}}</h3>
                <h5 class="widget-user-desc">{{ninho.descripcion}}</h5>
              </div>
              <div class="box-footer no-padding">
                <ul class="nav nav-stacked">
                  <li *ngFor="let cancer of ninho.cancer">
                    <a>
                      <div class="row">
                        <div class="col-md-7">{{cancer.descripcion}}</div>
                        <div class="col-md-5">
                          <span class="pull-right badge bg-blue">{{cancer.cancer.nombre}}</span>
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
                <a [routerLink]="['/ninho']" class="btn btn-primary btn-block" (click)="goChild(ninho.id)">
                  <b>ver</b>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- /.widget-user -->
      </div>
    </div>
    <!-- /.row -->

  </section>
  <!-- /.content -->
</div>

<footer id="main-footer" class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Version</b> 0.1.4
  </div>
  <strong>Copyleft &copy; 2017-2018
    <a [routerLink]="['/inicio']">www.niñosconcancer.com.ve</a>
  </strong> todos los derechos y zurdos reservados.
</footer>