<app-loading *ngIf="data.loading"></app-loading>
<app-header-inicio></app-header-inicio>
<div class="login-page" [@routerTransition]>
  <div class="container">
    <div class="row">
      <div id="form-login" class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong> Registrate para continuar</strong>
          </div>
          <div class="panel-body">
            <form role="form" ngNativeValidate (ngSubmit)="newUser()">
              <fieldset>
                <div class="row">
                  <div class="center-block">
                    <img class="profile-img" src="../../../assets/images/logo.png" alt="">
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="glyphicon glyphicon-user"></i>
                        </span>
                        <input class="form-control" placeholder="Correo" [(ngModel)]="user_new.email" name="email" type="email" required autofocus>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="glyphicon glyphicon-user"></i>
                        </span>
                        <input class="form-control" placeholder="Nombre de usuario" [(ngModel)]="user_new.username" name="username" type="text" required>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="glyphicon glyphicon-lock"></i>
                        </span>
                        <input class="form-control" placeholder="Contraseña" [(ngModel)]="user_new.password" name="password" type="password" required>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="glyphicon glyphicon-credit-card"></i>
                        </span>
                        <input class="form-control" placeholder="Cedula" [(ngModel)]="user_new.cedula" name="cedula" type="number" required>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="glyphicon glyphicon-user"></i>
                        </span>
                        <input class="form-control" placeholder="Nombre" [(ngModel)]="user_new.nombre" name="nombre" type="text" required>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="glyphicon glyphicon-user"></i>
                        </span>
                        <input class="form-control" placeholder="Apellido" [(ngModel)]="user_new.apellido" name="apellido" type="text" required>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="glyphicon glyphicon-phone"></i>
                        </span>
                        <input class="form-control" placeholder="Numero de contacto 1" [(ngModel)]="user_new.numero_contacto_1" name="numero_contacto_1"
                          type="tel" required>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="glyphicon glyphicon-phone"></i>
                        </span>
                        <input class="form-control" placeholder="Numero de contacto 2" [(ngModel)]="user_new.numero_contacto_2" name="numero_contacto_2"
                          type="tel" required>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="glyphicon glyphicon-map-marker"></i>
                        </span>
                        <select class="form-control" [(ngModel)]="user_new.estado_id" name="select_estado" (ngModelChange)="changeEstate()" required>
                          <option [ngValue]="null">Estado</option>
                          <option [ngValue]="estado.id" *ngFor="let estado of data.estados">{{estado.descripcion}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="glyphicon glyphicon-map-marker"></i>
                        </span>
                        <select class="form-control" [(ngModel)]="user_new.municipio_id" name="select_municipio" required>
                          <option [ngValue]="null">Municipio</option>
                          <option [ngValue]="municipio.id" *ngFor="let municipio of data.estado_a.municipios">{{municipio.descripcion}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <input type="submit" class="btn btn-lg btn-primary btn-block" value="Siguiente">
                    </div>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>