<app-header-inicio></app-header-inicio>
<div class="donate-page" [@routerTransition]>
  <!-- Page Content -->
  <div id="body" class="container">

    <div class="row">
      <div class="span12">
        <form id="custom-search-form" class="form-search form-horizontal pull-right">
          <div class="input-append span12">
            <input type="text" class="search-query" placeholder="Buscar por nombre, cancer, municipio, estado">
            <button type="submit" class="btn">
              <i class="icon-search"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <!-- Widget: user widget style 1 -->
        <div class="box box-widget widget-user-2">
          <!-- Add the bg color to the header using any of the bg-* classes -->
          <div class="widget-user-header bg-yellow">
            <div class="widget-user-image">
              <img class="img-circle" src="../../../../assets/images/niño.jpg" alt="Foto del niño">
            </div>
            <!-- /.widget-user-image -->
            <h3 class="widget-user-username">Edwin Vargas</h3>
            <h5 class="widget-user-desc">En cama en el Hospital central</h5>
          </div>
          <div class="box-footer no-padding">
            <ul class="nav nav-stacked">
              <li>
                <a>
                  <div class="row">
                    <div class="col-md-7">En gravedad situacion</div>
                    <div class="col-md-5">
                      <span class="pull-right badge bg-blue">Cancer de pancreas</span>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a>
                  <div class="row">
                    <div class="col-md-7">Se encuentra dormida, en estado leve.</div>
                    <div class="col-md-5">
                      <span class="pull-right badge bg-blue">Cancer de estomago</span>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
            <a [routerLink]="['/ninho']" class="btn btn-primary btn-block">
              <b>ver</b>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <!-- Widget: user widget style 1 -->
        <div class="box box-widget widget-user-2">
          <!-- Add the bg color to the header using any of the bg-* classes -->
          <div class="widget-user-header bg-yellow">
            <div class="widget-user-image">
              <img class="img-circle" src="../../../../assets/images/niño.jpg" alt="Foto del niño">
            </div>
            <!-- /.widget-user-image -->
            <h3 class="widget-user-username">Edwin Vargas</h3>
            <h5 class="widget-user-desc">En cama en el Hospital central</h5>
          </div>
          <div class="box-footer no-padding">
            <ul class="nav nav-stacked">
              <li>
                <a>
                  <div class="row">
                    <div class="col-md-7">En gravedad situacion</div>
                    <div class="col-md-5">
                      <span class="pull-right badge bg-blue">Cancer de pancreas</span>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a>
                  <div class="row">
                    <div class="col-md-7">Se encuentra dormida, en estado leve.</div>
                    <div class="col-md-5">
                      <span class="pull-right badge bg-blue">Cancer de estomago</span>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a>
                  <div class="row">
                    <div class="col-md-7">En gravedad situacion</div>
                    <div class="col-md-5">
                      <span class="pull-right badge bg-blue">Cancer de pancreas</span>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a>
                  <div class="row">
                    <div class="col-md-7">Se encuentra dormida, en estado leve.</div>
                    <div class="col-md-5">
                      <span class="pull-right badge bg-blue">Cancer de estomago</span>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
            <a [routerLink]="['/perfil']" class="btn btn-primary btn-block">
              <b>ver</b>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <!-- Widget: user widget style 1 -->
        <div class="box box-widget widget-user-2">
          <!-- Add the bg color to the header using any of the bg-* classes -->
          <div class="widget-user-header bg-yellow">
            <div class="widget-user-image">
              <img class="img-circle" src="../../../../assets/images/niño.jpg" alt="Foto del niño">
            </div>
            <!-- /.widget-user-image -->
            <h3 class="widget-user-username">Edwin Vargas</h3>
            <h5 class="widget-user-desc">En cama en el Hospital central</h5>
          </div>
          <div class="box-footer no-padding">
            <ul class="nav nav-stacked">
              <li>
                <a>
                  <div class="row">
                    <div class="col-md-7">En gravedad situacion</div>
                    <div class="col-md-5">
                      <span class="pull-right badge bg-blue">Cancer de pancreas</span>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a>
                  <div class="row">
                    <div class="col-md-7">Se encuentra dormida, en estado leve.</div>
                    <div class="col-md-5">
                      <span class="pull-right badge bg-blue">Cancer de estomago</span>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a>
                  <div class="row">
                    <div class="col-md-7">En gravedad situacion</div>
                    <div class="col-md-5">
                      <span class="pull-right badge bg-blue">Cancer de pancreas</span>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
            <a [routerLink]="['/perfil']" class="btn btn-primary btn-block">
              <b>ver</b>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <!-- Widget: user widget style 1 -->
        <div class="box box-widget widget-user-2">
          <!-- Add the bg color to the header using any of the bg-* classes -->
          <div class="widget-user-header bg-yellow">
            <div class="widget-user-image">
              <img class="img-circle" src="../../../../assets/images/niño.jpg" alt="Foto del niño">
            </div>
            <!-- /.widget-user-image -->
            <h3 class="widget-user-username">Edwin Vargas</h3>
            <h5 class="widget-user-desc">En cama en el Hospital central</h5>
          </div>
          <div class="box-footer no-padding">
            <ul class="nav nav-stacked">
              <li>
                <a>
                  <div class="row">
                    <div class="col-md-7">En gravedad situacion</div>
                    <div class="col-md-5">
                      <span class="pull-right badge bg-blue">Cancer de pancreas</span>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a>
                  <div class="row">
                    <div class="col-md-7">Se encuentra dormida, en estado leve.</div>
                    <div class="col-md-5">
                      <span class="pull-right badge bg-blue">Cancer de estomago</span>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
            <a [routerLink]="['/perfil']" class="btn btn-primary btn-block">
              <b>ver</b>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>

<footer id="main-footer" class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Version</b> 0.1.4
  </div>
  <strong>Copyleft &copy; 2017-2018
    <a [routerLink]="['/inicio']">www.niñosconcancer.com.ve</a>
  </strong> todos los derechos y zurdos reservados.
</footer>